html{
}

body{
	font-family: 'Comic Sans MS', cursive;
	margin:0;
    background-color: #0f4c81;
    color: white;
    height:40%;
    width:100%;
}

.FooterMenu{
    width: 60%;
    height:45%;
    margin: 0 0 0 40%;
    font-weight:bold;
    font-size: 15px;
    background-color: green;
    text-align: right;
}

.FooterMenu ul{
    margin: 0;
    padding: 0;

}

.FooterMenu li{ 
    width:20%;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: white;
    text-align: left;
}

.FooterMenu li:hover{
    background-color: aqua;
}

.AboutDSC_SubMenu{
    width: 60%;
    color: white;
    margin: 0 0 0 40%;
    font-weight:bold;
    font-size: 13px;
    background-color: red;
}

.AboutDSC_SubMenu ul{
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: aquamarine;
}

.AboutDSC_SubMenu li{
    width: 100%;
    height: 25px;
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.AboutDSC_SubMenu li:hover{
    background-color: black;    
}

.FooterTitle{
    text-align: center;
}


